/*
    Whispercast : Internet Radio for Yourself
    Creates a playlist on-the-fly for iTunes/WinAmp in M3U format.
    Copyright (c) 2006 Manas Tungare

    @author      Manas Tungare (manas@tungare.name)
    @copyright   Manas Tungare, 2006.
    @version     1.0
    @license     http://www.gnu.org/copyleft/gpl.html
*/

* {
  font-family: Verdana, Helvetica, sans-serif;
  line-height: 1.4em;
}

body, p {
  font-size: 12px;
}

iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

address {
  margin-top: 24px;
}

ul {
  list-style-type: none;
  padding-left: 5px;
}

div.M3U-Link {
  text-align: right;
}

div.M3U-Link a {
  padding: 6px;
  margin: 12px;
  border: 1px solid silver;
  text-decoration: none;
  background-color: #efefef;
}

div.M3U-Link a:hover {
  color: red;
  background-color: #cdcdcd;
}
div.playlist {
  display: block;
  height: 60%;
}
div.search-file {
  display: block;
  height: 40%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.Library {
  border: 1px solid silver;
  padding: 12px;
  height: 100%;
}

.Library img {
  vertical-align: middle;
  border: 0px;
}

.Library a {
  color: black;
  text-decoration: none;
  padding: 2px;
  padding-left: 6px;
  padding-right: 12px;
}

.Library a:hover {
  color: navy;
  background-color: #cdcdcd;
}

.player{display: none;}
.control{
  padding: 5px;
  text-align: right;
  background-color: #D3D3D3;
}
.clear{
  clear: both;
}

#place-holder{
  display: block;
  height: 60%;
  width: 100%;
}

#place-holder p{
  margin-top: 0px;
  margin-bottom: 0px;
}

#audio-controls{
  display: inline-block;
  padding: 5px;
  width: 100%;
  background-color: #efefef;
}

#duration{
  float: right;
  width: 5%;
  font-size: 18px;
}

#play-pause{
  float: right;
  width: 10%;
  padding-left: 5px;
}

#progressbar {
  display: inline-block;
  width: 100%;
  height: 20px;
  background-color: #D3D3D3;
}
#progress {
  width: 1%;
  height: 30px;
  height: 20px;
  background-color: #87CEFA;
}
#tracker{
  display: inline-block;
  height: 20px;
  width: 84%;
  font-size: 18px;
  margin-top: 2px;
}
